.nav-item.active {
    color: rgba(0,0,0,1);
    border-bottom: 1px solid #5f9bce;
}
.navbar-collapse {
    max-height: 300px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: #343a40;
}
::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 50px;
}